/* font jua-be vietnam pro*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jua&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {

    /* references couleurs */

    --primary-color: #272100;
    --secondary-color: #98ff98;
    --grey-color: #ededed;
    --dark-color: #070700;
    --notif-color: #ff0000;
    --opacity: rgba(255, 255, 255, 0.6);

    /* font */

    --primary-font: "Be Vietnam Pro", sans-serif;
    /*font-paragraphe*/
    --secondary-font: "Jua", sans-serif;
    /* font-title  */

}

/*  SECTION GENERAL */

body {
    background-color: var(--primary-color);
}

.monkey-jauge {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;

}

.logo-monkey {
    grid-column: 2 / 3;
    margin: auto;
}

.logojauge {
    justify-self: flex-end;
    padding-right: 2rem;
}

/* ok */

h1 {
    font-size: clamp(1.5rem, 8.5vw, 2rem);
    font-family: var(--secondary-font);
}

h1>span {
    color: var(--secondary-color);
}

p {
    font-family: var(--primary-font);
}

h1 {
    font-size: 35px;
    font-family: var(--secondary-font);
    margin-inline-start: 1rem;
    width: 18rem;
    height: 8rem;
    margin-bottom: 3svh;
    margin-left: 0;
}

input {
    width: 100%;
    height: 3.5rem;
    border-radius: 8px;
    margin-top: 3rem;
    font-family: var(--primary-font);
    font-size: 16px;
    padding-left: 1rem;
}

#inputConfirm{
    margin-top: 1.5rem;
}

body>main>.container {
    height: 70vh;
    width: 85vw;
    margin: 2rem auto auto auto;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    color: var(--grey-color);
}

footer {
    display: flex;
    justify-content: center;
}

.btn-confirm {
    margin: auto;
    text-align: center;
    width: 85%;
    height: 3.5rem;
    position: fixed;
    bottom: 1rem;
    background-color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 16px;
    color: var(--dark-color);
    font-weight: 600;
    border-radius: 8px;
}

@media screen and (min-width: 992px) {

    .logojauge {
        display: none;
    }

    body {
        display: flex;
        flex-direction: row;
        margin: 5rem auto;
        width: 100%;
        justify-content: center;
        gap: 10%;
    }

    .monkey-jauge {
        display: block;
    }

    .logo-monkey {
        width: 27em;
        height: 25em;
        border-right: 2px solid white;
        padding-right: 3em;
    }

    body>main>.container {
        display: flex;
        width: 100%;
        height: auto;
        margin: 0;
        padding-top: 5vh;
    }

    .btn-confirm {
        position: static;
    }

    footer {
        margin-top: 10% ;
    }
}