    /* font jua-be vietnam pro*/
    @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jua&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {

    /* references couleurs */

    --primary-color: #272100;
    --secondary-color: #98ff98;
    --grey-color: #ededed;
    --dark-color: #070700;
    --notif-color: #ff0000;
    --opacity: rgba(255, 255, 255, 0.6);

    /* font */

    --primary-font:"Be Vietnam Pro",sans-serif;/*font-paragraphe*/
    --secondary-font: "Jua", sans-serif;/* font-title  */

}

body {
    background-color: var(--grey-color);
}

nav {
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
}

nav>.top_nav {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

nav>.top_nav>li>.Menu_burger {
    width: 2rem;
}

nav>.top_nav>li>.Profil {
    width: 2rem;
    height: 2rem;
}

.solide {
    border-top: 2px solid #000000;
    width: 80%;
    margin: 0 10%;
 }

nav>.bottom_nav {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
}




.logoNav{
    width: 25%;
    border-right: 2px solid black;
    text-align: center;
}

#logo_new_publication{
    border-right: 0px;
}

@media screen and (min-width: 992px) {
    body {
    background-color: var(--primary-color);
    }
}